@model IEnumerable<Barski_Lewandowski_Interfaces.IProducer>

@{
    ViewData["Title"] = "Index";
}

<h1>Producenci</h1>



<p>
    <a asp-action="Create">Dodaj producenta</a>
    <form method="get" asp-action="Index">
        <div class="form-group">
            <label for="SearchQuery">Wyszukaj:</label>
            <input type="text" id="SearchQuery" name="searchQuery" class="form-control" placeholder="Podaj nazwę" value="@ViewData["SearchQuery"]" />
        </div>
        <button type="submit" class="btn btn-primary">Wyszukaj</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Kraj
            </th>
            <th>
                Numer telefonu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
