@model IEnumerable<Milek_Nowak_Interfaces.IProducer>

@{
    ViewData["Title"] = "Index";
}

<h1>Producers</h1>



<p>
    <a asp-action="Create">Add producer</a>
    <form method="get" asp-action="Index">
        <div class="form-group">
            <label for="SearchQuery">Search:</label>
            <input type="text" id="SearchQuery" name="searchQuery" class="form-control" placeholder="Name" value="@ViewData["SearchQuery"]" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Country
            </th>
            <th>
                Telephone Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
