@model Milek_Nowak_Interfaces.IGame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Producer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer.Name)
        </dd>
        <dt class = "col-sm-2">
            Game Theme
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameTheme)
        </dd>
        <dt class = "col-sm-2">
            Game Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Return to the list view</a>
</div>
